/*
   Jim Hall specific css adds for the Hacker theme
   social-media* elements stolen from the minima theme @
   https://github.com/jekyll/minima
*/

.green {
    color:#b5e853
}
.catcloud {
    width: 90%;
    max-width: 1000px;
    /*margin:0 auto*/
}
.tagcloud {
    width: 90%;
    max-width: 1000px;
    /*margin:0 auto*/
}
footer {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    border-top: 1px dashed #b5e853;
    padding: 10px 0;
    margin:0 0 40px 0
}
footer h2 {
  left: 0;
  bottom: 0;
  /*width: 90%;*/
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight:300;
  color: #666
}
.social-media-list, .pagination {
    display: table;
    margin:0 auto
}
.social-media-list li, .pagination li {
    list-style: none;
    float: left;
    margin:5px 10px 5px 0
}
.social-media-list li a, .pagination li a {
    display: block;
    padding: 7.5px;
    border:1px solid #b5e853
}
.social-media-list li a:hover, .pagination li a:hover {
    border-color:#cfcfcf
}
.social-media-list li:last-of-type, .pagination li:last-of-type {
    margin-right:40px
}
.svg-footicon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    padding: 5px 3px 2px 5px;
    vertical-align:text-bottom
}
footer.social-media-list {
    list-style: none;
    margin-left:0
}
.orange {
    color:#f66a0a
}
.svg-icon {
    padding:5px 5px 2px 0
}
.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: currentColor;
    vertical-align:text-bottom;
    padding: 5px 3px 2px 75px;
}

/*
   Jim Hall specific css adds for the Hacker theme
   lifted from Add styles for tasklist #83 pages-themes / hacker
   https://github.com/pages-themes/hacker/pull/83/files
*/
ul.task-list {
  $checkbox-size: 1em;

  list-style: none;
  padding-left: 0.5em;

  li.task-list-item {
    list-style-image: none;
    position: relative;

    input.task-list-item-checkbox {
      display: inline-block;
      margin-right: 1.2em;
      width: $checkbox-size;
      height: $checkbox-size;
      vertical-align: middle;
      -webkit-appearance: none;
         -moz-appearance: none;
           -o-appearance: none;
              appearance: none;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
           -o-box-shadow: none;
              box-shadow: none;
      outline: $checkbox-size*0.2 solid $conifer;

      &:checked {
        width: $checkbox-size*0.813;
        height: $checkbox-size*0.813;
        margin-left: $checkbox-size*0.35;
        outline: $checkbox-size*0.35 double adjust-color($conifer, $lightness: 0%);
        background-color: adjust-color($conifer, $lightness: -20%);
      }
    }
  }
}
